<div id="wrap">
  <div id="main" class="container clear-top">

    <p>
      <% all_idea_tags.each do |tag| %>
        <a href="/tags/<%= tag %>">-<%= tag %></a>
      <% end %>
    </p>

    <p class="pull-right">
      <a href="#top">
        Back to top
      </a>
    </p>

  </div>
</div>
