<div class="col-lg-4">
  <div class="well">
    <!-- LIKE -->
    <form action='/<%= idea.id %>/like' method='POST' style="float: right;">
      <input type="submit" class="btn btn-success btn-xs" value='Like'/>
   
    </form>
      <!-- _____ -->
      
    <h2><em><%= idea.title %>  </em></h2>
    <p><a class="btn btn-primary btn-xs" style="display: inline" href="/<%= idea.id %>/details">View details »</a>
      </p>

  </div>
</div>




