<div class="jumbotron">
  <div class="container">

    <h1>Welcome to ideaBox!</h1>

    <p><em>ideaBox summary</em></p>

    <p>
      <a class="btn btn-primary" href='/existing_ideas'>
      See all existing ideas »</a>
    </p>

  </div>
</div>



    
    

      
  





