
    <%= erb :form, locals: {idea: idea, store: IdeaStore}%>
    <h3>Existing Ideas:</h3>
    <ul>
      <% ideas.each do |idea| %>
        <br>
        <li>
          <%= erb :idea, locals: {idea: idea}%>
          <br>
        </li>
      <% end %>
    </ul>
