<form action='/<%= idea.id %>' method='POST'>
  <p>Enter Your New Idea:</p>
  <input type='text' name='idea[title]' placeholder="Title"/><br/>
  <textarea name='idea[description]' placeholder='Idea Description'></textarea><br/>
  <textarea name='idea[tags]' placeholder='Idea Tags'></textarea><br/>
  <input type='submit'/>
</form>
